.con{
    -fx-background-color: #cea9fd;
    -fx-background-radius: 20px;
}
.con Text{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: xx-large;
}
.input-field {
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-background-color: #F1F1F1;
    -fx-border-color: #DDDDDD;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}